<%- include("header"); -%>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="box" id="heading">
                    <%= listTitle %>
                    <% if(date) {%>
                    ,<%= date%>
                    <% } %>
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-white">
                    <div class="card-body">
                        <form action="/today" method="post">
                            <input type="text" class="form-control add-task" placeholder="New Item" name="item" autocomplete="off">
                            <button type="submit" name="list" value="<%=listTitle%>"" style="display: none;"></button>
                        </form>

                        <div class="todo-list sortable">
                            <% for (var i = 0; i < item.length; ++i) { %>
                            <form action="/delete" method="post">
                                <div id="<%='item' +i %>" class="todo-item">
                                    <input type="checkbox" name="checkedItem" value="<%=item[i]._id%>+<%=listTitle%>" onchange="this.form.submit()">
                                    <span class="item">
                                        <%= item[i].name %></span>
                                    <!-- <span class="remove-item" id=<%= 'remove'+i %>><i class="fa fa-trash trash"></i></span> -->
                                </div>
                            </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$('document').ready(function(e) {
    $('.remove-item').click(function() {
        var removeId = $(this).attr('id');
        var i = removeId.slice(6);
        $('#item' + i).remove();
    })
})
</script>
<%- include("footer"); -%>